@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/Vazir-Bold-FD-WOL.ttf");
}


@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Vazir-FD-WOL.ttf");
}


@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Vazir-Light-FD-WOL.ttf");
}


@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Vazir-Medium-FD-WOL.ttf");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Vazir-Thin-FD-WOL.ttf");
}

