//remove default padding and margin for all the browser
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Vazir, sans-serif;
}

#modal {
  position: relative;
  z-index: 100;
}